*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

 /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */

.main {
    margin-top: 30px; 
    background-color: black;
}


.section{
    display: block;
    padding: 0 2em 2em 2em;
}


#home .bg-image{
    background: url("../images/shakira4.png") no-repeat center;
    background-size: cover;
    width: auto;
    height: 800px;
    
}
#home .big-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    filter: none;
    -webkit-filter: none;
}



.section .column {

    float: left;
    width: 50%;
}

.section .row:after{
    content: "";
    display: table;
    clear: both;
}

/* Clear floats after the columns */

.column .text-container{
    padding: 100px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.column .img_container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    height: 5%;
}
.column .img_container img{
    height: auto;
    max-width: 500px;
    width: 100%;
}


.text-container{
    color: #EFB810;
}


#photos {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: block;
    padding: 3em;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #717171;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#photos .big-title{
    font-size: 48px;
    text-align: center;
    padding: 1em;
    color: white;
}

#videos{
    background-color: black;
    text-align: center;
    padding: 3em;
    
}


footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em;
}

footer li{
  padding: 1em;
  list-style: none;

}

.icon{
  fill: white;
  height: auto;
  width: 5%;
}